<% errors.forEach(errMsg => { %>
<div class="text-center alert alert-danger"><%= errMsg %></div>
<% }) %>
<div></div>
<% success.forEach(errMsg => { %>
<div class="text-center alert alert-success"><%= errMsg %></div>
<% }) %>
